<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
	<link rel="stylesheet" href="static/index.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <form id="signForm">
        <input type="text" name="u" placeholder="Username" required>
        <input type="password" name="p" placeholder="Password" required>
        <button id="signBtn" type="submit">Sign In</button>
    </form>
	
	<form id="addForm">
        <input type="text" name="a" placeholder="Account Name" required>
        <input type="password" name="pa" placeholder="Password" required>
        <input type="text" name="u" placeholder="Username">
        <input type="text" name="e" placeholder="Email">
        <input type="text" name="ph" placeholder="Phone">
        <input type="number" name="pi" placeholder="Pin">
        <input type="text" name="st" placeholder="String">
        <input type="text" name="q1" placeholder="Question 1">
        <input type="text" name="a1" placeholder="Answer 1">
        <input type="text" name="q2" placeholder="Question 2">
        <input type="text" name="a2" placeholder="Answer 2">
        <input type="text" name="q3" placeholder="Question 3">
        <input type="text" name="a3" placeholder="Answer 3">
        <button id="signBtn" type="submit">Sign In</button>
	</form>
	
	<form id="searchForm">
        <input type="text" name="a" placeholder="Account Name" required>
        <input type="password" name="pa" placeholder="Password" required>
        <input type="text" name="u" placeholder="Username">
        <input type="text" name="e" placeholder="Email">
        <input type="text" name="ph" placeholder="Phone">
        <input type="number" name="pi" placeholder="Pin">
        <button id="signBtn" type="submit">Sign In</button>
	</form>

    <script src="static/index.js"></script>
</body>
</html>
